<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
    </style>

</head>

<body style="font-family: Crimson Text;">

    <header>

        <h2>Ironsworn Character Sheet</h2>


    </header>
    <section>
        <div class="charInfo">
            <div>
                <span>Character</span>
                <input type="text">
            </div>
            <div>
                <span> Experience</span>
                <% for(let i=0; i < 36; i++) {%>
                    <%if( i !=17){ %>
                        <input type="checkbox">
                        <%} else if( i==17){ %>
                            <input type="checkbox">
                            <br>
                            <%}%>
                                <%}%>
            </div>
        </div>
    </section>
    <section class="bottom">
        <section class="momentum">
            <div>
                <h3>Momentum</h3>
            </div>
            <% for(let i=10; i> -7; i--) {%>
                <div class="momBox">
                    <span>+<%=i%></span>
                </div>
                <%}%>

                    <div>
                        <span>
                            MAX
                        </span>
                        <input type="number" value="10">
                    </div>
                    <div>
                        <span>
                            Reset
                        </span>
                        <input type="number" value="2">
                    </div>

        </section>




        <section class="stats">
            <div class="trueStats">
                <div>
                    <input type="number">
                    <span>EDGE</span>
                </div>
                <div>
                    <input type="number">
                    <span>HEART</span>
                </div>
                <div>
                    <input type="number">
                    <span>IRON</span>
                </div>
                <div>
                    <input type="number">
                    <span>SHADOW</span>
                </div>
                <div>
                    <input type="number">
                    <span>WITS</span>
                </div>
            </div>
            <div class="bonds">
                <h4> BONDS</h4>
                <% for(let i=0; i < 11; i++) {%>

                    <input type="checkbox">
                    <% }%>
            </div>

            </div>
            </div>
           
            <div class="vows">
                <div class="vowTitle">
                    <input type="text" palceholder="INSERT VOW HERE">
                </div>
                <div class="vowDifficulty">
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>TROUBLESOME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>DANGEROUS</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>FORMIDABLE</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EXTREME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EPIC</span>
                    </div>
                </div>
                <div class="progress">
                    <% for(let i=0; i < 11; i++) {%>

                        <input type="checkbox">
                        <% }%>
                </div>
            </div>
            <div class="vows">
                <div class="vowTitle">
                    <input type="text" palceholder="INSERT VOW HERE">
                </div>
                <div class="vowDifficulty">
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>TROUBLESOME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>DANGEROUS</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>FORMIDABLE</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EXTREME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EPIC</span>
                    </div>
                </div>
                <div class="progress">
                    <% for(let i=0; i < 11; i++) {%>

                        <input type="checkbox">
                        <% }%>
                </div>
            </div>
               
            </div>
            <div class="vows">
                <div class="vowTitle">
                    <input type="text" palceholder="INSERT VOW HERE">
                </div>
                <div class="vowDifficulty">
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>TROUBLESOME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>DANGEROUS</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>FORMIDABLE</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EXTREME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EPIC</span>
                    </div>
                </div>
                <div class="progress">
                    <% for(let i=0; i < 11; i++) {%>

                        <input type="checkbox">
                        <% }%>
                </div>
            </div>
            <div class="vows">
            <div class="vowTitle">
                <input type="text" palceholder="INSERT VOW HERE">
            </div>
            <div class="vowDifficulty">
                <div class="difficulty">
                    <input type="checkbox" class="checkbox"> <span>TROUBLESOME</span>
                </div>
                <div class="difficulty">
                    <input type="checkbox" class="checkbox"> <span>DANGEROUS</span>
                </div>
                <div class="difficulty">
                    <input type="checkbox" class="checkbox"> <span>FORMIDABLE</span>
                </div>
                <div class="difficulty">
                    <input type="checkbox" class="checkbox"> <span>EXTREME</span>
                </div>
                <div class="difficulty">
                    <input type="checkbox" class="checkbox"> <span>EPIC</span>
                </div>
            </div>
            <div class="progress">
                <% for(let i=0; i < 11; i++) {%>

                    <input type="checkbox">
                    <% }%>
            </div>
        </div>
            <div class="vows">
                <div class="vowTitle">
                    <input type="text" palceholder="INSERT VOW HERE">
                </div>
                <div class="vowDifficulty">
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>TROUBLESOME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>DANGEROUS</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>FORMIDABLE</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EXTREME</span>
                    </div>
                    <div class="difficulty">
                        <input type="checkbox" class="checkbox"> <span>EPIC</span>
                    </div>
                </div>
                <div class="progress">
                    <% for(let i=0; i < 11; i++) {%>

                        <input type="checkbox">
                        <% }%>
                </div>
            </div>
            <div class="debilities">
                <div class="conditions">
                    <h3> CONDITIONS</h3>
                    <div>
                    <ul>
                    <div>
                        <li><input type="checkbox" class="checkbox"> <span>WOUNDED</span></li>
                        <li><input type="checkbox" class="checkbox"> <span>UNPREPARED</span></li>
                    </div>
                    <div>
                        <li><input type="checkbox" class="checkbox"> <span>SHAKEN</span></li>
                        <li><input type="checkbox" class="checkbox"> <span>ENCUMBERED</span></li>
                    </div>
                    </ul>
                    </div>
                </div>
                <div class="conditions">
                    <div class="conditions">
                        <h3>BANES</h3>
                        <div>
                        <ul class="banes">
                            <li><input type="checkbox" class="checkbox"> <span>MAIMED</span></li>
                            <li><input type="checkbox" class="checkbox"> <span>CORRUPTED</span></li>
                        </ul>
                    </div>
                    </div>
                    <div class="conditions">
                        <h3> BURDENS</h3>
                        <div>
                        <ul class="banes">
                            <li><input type="checkbox" class="checkbox"> <span>CURSED</span></li>
                            <li><input type="checkbox" class="checkbox"> <span>TORMENTED</span></li>
                        </ul>
                    </div>

                    </div>
                </div>

            </div>
            </div>



        </section>
        <section class="supply">
            <div class="sub">
                <div>
                    <h3>HEALTH</h3>
                </div>
                <div class="momBox">
                    <span>+5</span>
                </div>
                <div class="momBox">
                    <span>+4</span>
                </div>
                <div class="momBox">
                    <span>+3</span>
                </div>
                <div class="momBox">
                    <span>+2</span>
                </div>
                <div class="momBox">
                    <span>+1</span>
                </div>
                <div class="momBox">
                    <span>0</span>
                </div>
            </div>
            <div class="sub">
                <div>
                    <h3>SPIRIT</h3>
                </div>
                <div class="momBox">
                    <span>+5</span>
                </div>
                <div class="momBox">
                    <span>+4</span>
                </div>
                <div class="momBox">
                    <span>+3</span>
                </div>
                <div class="momBox">
                    <span>+2</span>
                </div>
                <div class="momBox">
                    <span>+1</span>
                </div>
                <div class="momBox">
                    <span>0</span>
                </div>
            </div>
            <div class="sub">
                <div>
                    <h3>SUPPLY</h3>
                </div>
                <div class="momBox">
                    <span>+5</span>
                </div>
                <div class="momBox">
                    <span>+4</span>
                </div>
                <div class="momBox">
                    <span>+3</span>
                </div>
                <div class="momBox">
                    <span>+2</span>
                </div>
                <div class="momBox">
                    <span>+1</span>
                </div>
                <div class="momBox">
                    <span>0</span>
                </div>
            </div>



        </section>
    </section>


    <script src="js/action.js"></script>

</body>

</html>