

body {
    background-color: black;
    color: white;
    padding: 0%;
    border: none;
    margin: 1%;
    text-align: center;
}

h4{
    margin: 1%;
}

.charInfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

.charInfo div {
    width: 50%;
}


header div {
    width: 40%;

}


.momentum {
    width: 12%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.stats {
    width: 70%;
    display: flex;
}

.supply {
    width: 12%;
    display: flex;
    background-color: white;
    flex-direction: column;
    color: black;
   
}

.bottom {
    display: flex;

    justify-content: space-between;

}

.bottom div {
    width: 100%;
}


.momBox {
    width: 100%;
    border: solid green 1px;

}

.momBox {
    font-size: 20px;
    color: black;
    text-align: center;
}

.trueStats {
    justify-content: space-around;
    display: flex;
    height: 30%;
    margin: 10px;
}

.trueStats div {
    width: 15%;
    height: 3em;
    text-align: center;

}

.trueStats div input {
    height: 100%;
    width: 60%;

}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vows{
    text-align: center;
    justify-content: center;

    margin: 1% 0%;
}

.vows div{
    margin: 1px;
}

.vowTitle{
    width: 70%;
    text-align: center;
}

.vowTitle input{
    width: 100%;
    text-align: center;
}

.vowDifficulty{
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.difficulty{
    text-align: center;
    width: auto;
    height: 10%;
    
}

.progress{
    justify-content: center;
    text-align: center;
}

.debilities{
    display: flex;
}
.conditions{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.conditions div{
    text-align: left;
    width: 50%;
 
}

ul{
 display: flex;
}

.banes{
    display:inline;
}


.checkbox{
    border: solid white 1px;
    border-radius: 60%;
    color: green;
}